.parent-container {
  display: flex;
  align-items: center;
}

.fullscreen-enabled .horizontal canvas {
  /* height: 100vw !important; */
  /* width: 95vh !important; */
  /* margin-top: -5vh !important; */
}

.vertical canvas {
  display: block;
  /* width: 80vw; */
  /* aspect-ratio: 16 / 9; */
  /* max-height: 80vh; */
  background-color: black;
  left: 0;
}

.player-canvas {
  background: black;
}

.horizontal {
  -ms-transform: rotate(90deg) translateY(-100%) translateX(-20%);
  -webkit-transform: rotate(90deg) translateY(-100%) translateX(-20%);
  transform: rotate(90deg) translateY(-100%) translateX(-20%);
  transform-origin: top left;
}
